src/flows/CreditScoreFlow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>This flow is in place to emulate a credit score pull.</description>
    <interviewLabel>CreditScoreFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreditScoreFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Report</name>
        <label>Create Credit Report</label>
        <locationX>387</locationX>
        <locationY>164</locationY>
        <assignRecordIdToReference>CreditReportID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Creditor_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Account__c</field>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__App_Plugin__c</field>
            <value>
                <stringValue>Equifax_Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Credit_Score__c</field>
            <value>
                <numberValue>785.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Last_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Report_Category__c</field>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Report_Type__c</field>
            <value>
                <stringValue>CreditHardPull</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Status__c</field>
            <value>
                <stringValue>PASS</stringValue>
            </value>
        </inputAssignments>
        <object>nFUSE__Credit_Report__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records</name>
        <label>Create Creditor Records</label>
        <locationX>588</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Create_Creditor_Records_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>120512.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Mortgage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>903.87</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records_0</name>
        <label>Create Creditor Records</label>
        <locationX>589</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Create_Creditor_Records_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>1120.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Revolving</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>55.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Creditor_Records_0_0</name>
        <label>Create Creditor Records</label>
        <locationX>590</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Balance_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Balance__c</field>
            <value>
                <numberValue>15420.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Creditor_Name__c</field>
            <value>
                <stringValue>nSight Financial Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Ownership_Type__c</field>
            <value>
                <stringValue>Individual Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Liability_Type__c</field>
            <value>
                <stringValue>Installment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__Monthly_Payment_Amount__c</field>
            <value>
                <numberValue>354.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFUSE__ReportId__c</field>
            <value>
                <elementReference>CreditReportID</elementReference>
            </value>
        </inputAssignments>
        <object>nFUSE__Creditor__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Relationship</name>
        <label>Lookup Relationship</label>
        <locationX>386</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credit_Report</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>RelationshipSOV.LLC_BI__FICO_Date__c</assignToReference>
            <field>LLC_BI__FICO_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelationshipSOV.LLC_BI__FICO_Score__c</assignToReference>
            <field>LLC_BI__FICO_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>809</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished</name>
            <fieldText>Your fake Credit Report has been completed succesfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Relationship</startElementReference>
    <variables>
        <name>CreditReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PassFail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelationshipSOV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
