src/flows/LoanAutoDecision-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_0_Stars_for_Score</name>
        <label>Add 0 Stars for Score</label>
        <locationX>761</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_Star_for_Score</name>
        <label>Add 1 Star for Score</label>
        <locationX>951</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_2_Stars_for_Score</name>
        <label>Add 2 Stars for Score</label>
        <locationX>1139</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor</name>
        <label>Add Star for Borrower Rating</label>
        <locationX>260</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor_0</name>
        <label>Add Star for Borrower Rating</label>
        <locationX>33</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_For_Loan_With_Guarantor_0</name>
        <label>Add Star for Collateral</label>
        <locationX>570</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_For_Loan_With_Guarantor_1</name>
        <label>Add Star for Collateral</label>
        <locationX>570</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_High</name>
        <label>Add 2 Stars for Collateral</label>
        <locationX>1231</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_Low</name>
        <label>Add 1 Star for Collateral</label>
        <locationX>959</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_0</name>
        <label>Add Star for Guarantor</label>
        <locationX>560</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Guarantor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_1</name>
        <label>Add Star for Guarantor</label>
        <locationX>350</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Guarantor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Guarantors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_Rating</name>
        <label>Add Star for Guarantor Rating</label>
        <locationX>166</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Guarantor Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_Rating_0</name>
        <label>Add Star for Guarantor Rating</label>
        <locationX>31</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Guarantor Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stars_for_No_Collateral</name>
        <label>Add 0 Stars for Collateral</label>
        <locationX>691</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCriteria</name>
        <label>Add Criteria</label>
        <locationX>961</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaHasGuarantor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaGuarantorScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaLTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Declined</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details</name>
        <label>Assign Details</label>
        <locationX>1727</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaDebtToIncome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearAccountScore</name>
        <label>ClearAccountScore</label>
        <locationX>30</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccountScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Borrowers_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Score_Required</name>
        <label>Credit Score Required</label>
        <locationX>2124</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Credit Score found on the Main Borrowing Relationship. Please fill in the Credit Score and re-run the Decision Engine</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DTI_greater_than_35_less_than_50_Assignment</name>
        <label>DTI &gt; 35% &amp; &lt; 50%</label>
        <locationX>1721</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debt to Income Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTIRatio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Main_Relationship_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_greater_than_50</name>
        <label>DTI greater than 50%</label>
        <locationX>1911</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debt to Income Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTIRatio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Main_Relationship_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DTI_less_than_35_Assignment</name>
        <label>DTI less than 35%</label>
        <locationX>1532</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debt to Income Ratio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaDebtToIncome.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTIRatio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Main_Relationship_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Manual_Review</name>
        <label>Manual Review</label>
        <locationX>1739</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual Review Recommended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please submit this loan for approval in order to request a manual review of the details.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recommend_Approval</name>
        <label>Recommend Approval</label>
        <locationX>1913</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Recommended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan_to_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommend_Decline_Consumer_Decision</name>
        <label>Recommend Decline</label>
        <locationX>1557</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decline Recommended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Auto_Approve</name>
        <label>Return Auto Approve</label>
        <locationX>811</locationX>
        <locationY>1938</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoApprove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Approved</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Auto_Decline</name>
        <label>Return Auto Decline</label>
        <locationX>1161</locationX>
        <locationY>1498</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Manual_Review_Required</name>
        <label>Return Manual Review Required</label>
        <locationX>676</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultManualReviewRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The loan amount is larger than allowed for the Loan Auto-Decision process.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Recommend_Approve</name>
        <label>Return Recommend Approve</label>
        <locationX>1101</locationX>
        <locationY>1936</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Recommend_Decline</name>
        <label>Return Recommend Decline</label>
        <locationX>1161</locationX>
        <locationY>1648</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Score_680</name>
        <label>Score &lt; 680</label>
        <locationX>1930</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainRelationshipCreditScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Score_760_680</name>
        <label>Score &lt; 760 &amp; &gt;680</label>
        <locationX>1727</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainRelationshipCreditScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Score_greater_than_equal_to_760</name>
        <label>Score &gt;= 760</label>
        <locationX>1532</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainRelationshipCreditScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_and_Max</name>
        <label>Set Min and Max</label>
        <locationX>1288</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaximumPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DTIRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.nRetail__Debt_To_Income_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Debt_to_Income</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Minimum_and_Maximum_Points</name>
        <label>Set Minimum and Maximum Points</label>
        <locationX>51</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaximumPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Guarantor_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Best_Borrower_Score</name>
        <label>Store Best Borrower Score</label>
        <locationX>1281</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>BestBorrowerScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Borrowers</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ResultAutoApprove</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequested</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request Initiated</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultManualReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Review Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Decline</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Auto_Declined</name>
        <label>Auto Declined</label>
        <locationX>962</locationX>
        <locationY>1499</locationY>
        <defaultConnector>
            <targetReference>Recommend_Decline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Auto_Declined_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Auto_Decline</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commercial_or_Consumer</name>
        <label>Commercial or Consumer</label>
        <locationX>676</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Set_Min_and_Max</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consumer Loan</defaultConnectorLabel>
        <rules>
            <name>Commercial_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.ConsumerLoan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Loan_Size</targetReference>
            </connector>
            <label>Commercial Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Approval_Type</name>
        <label>Approval Type</label>
        <locationX>961</locationX>
        <locationY>1788</locationY>
        <defaultConnector>
            <targetReference>Return_Auto_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Approval</defaultConnectorLabel>
        <rules>
            <name>Recommend_Approve_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Approve</targetReference>
            </connector>
            <label>Recommended Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Borrower_Score</name>
        <label>Evaluate Borrower Score</label>
        <locationX>951</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Add_0_Stars_for_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Below 4</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Borrower_Score_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerScore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_Star_for_Score</targetReference>
            </connector>
            <label>Is 4</label>
        </rules>
        <rules>
            <name>Evaluate_Borrower_Score_Greater_Than_Four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_2_Stars_for_Score</targetReference>
            </connector>
            <label>Greater Than 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Borrower_Score_For_Loan_With_Guarantor</name>
        <label>Evaluate Borrower Score</label>
        <locationX>260</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Process_Borrowers_For_Loan_With_Guarantor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Score</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Borrower_Score_For_Loan_With_Guarantor_Score_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor</targetReference>
            </connector>
            <label>High Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Collateral_Value</name>
        <label>Evaluate Collateral Value</label>
        <locationX>951</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Add_Stars_for_No_Collateral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Collateral</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Collateral_Value_Larger_Than_Loan_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loan.LLC_BI__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_High</targetReference>
            </connector>
            <label>Larger than loan amount</label>
        </rules>
        <rules>
            <name>Evaluate_Collateral_Value_Smaller_Than_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loan.LLC_BI__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_Low</targetReference>
            </connector>
            <label>Smaller than loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Collateral_Value_For_Loan_With_Guarantor</name>
        <label>Evaluate Collateral Value</label>
        <locationX>260</locationX>
        <locationY>1424</locationY>
        <defaultConnector>
            <targetReference>Add_Star_for_Collateral_For_Loan_With_Guarantor_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low LTV</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Collateral_Value_High_LTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advance_Rate_LTV</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.75</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_For_Loan_With_Guarantor_1</targetReference>
            </connector>
            <label>High LTV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Credit_Score</name>
        <label>Evaluate Credit Score</label>
        <locationX>1724</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Score_680</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 680</defaultConnectorLabel>
        <rules>
            <name>Credit_Score_greater_than_760</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainRelationshipCreditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>760.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Score_greater_than_equal_to_760</targetReference>
            </connector>
            <label>Credit Score greater than 760</label>
        </rules>
        <rules>
            <name>Credit_Score_between_680_760</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainRelationshipCreditScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>760.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MainRelationshipCreditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>680.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Score_760_680</targetReference>
            </connector>
            <label>Credit Score between 680 &amp; 760</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Debt_to_Income</name>
        <label>Evaluate Debt to Income</label>
        <locationX>1718</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>DTI_greater_than_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DTI_less_than_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.nRetail__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_less_than_35_Assignment</targetReference>
            </connector>
            <label>Less than 35%</label>
        </rules>
        <rules>
            <name>DTI_greater_than_35_less_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.nRetail__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.nRetail__Debt_To_Income_Ratio__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DTI_greater_than_35_less_than_50_Assignment</targetReference>
            </connector>
            <label>&gt; 35% &amp; &lt; 50%</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Guarantor_Score</name>
        <label>Evaluate Guarantor Score</label>
        <locationX>297</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Process_Guarantors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Score</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Guarantor_Score_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Guarantor_Rating</targetReference>
            </connector>
            <label>High Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Loan_Size</name>
        <label>Evaluate Loan Size</label>
        <locationX>350</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>Return_Manual_Review_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Decision Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Auto_Decision_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Minimum_and_Maximum_Points</targetReference>
            </connector>
            <label>Auto Decision Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Decision</name>
        <label>Final Decision</label>
        <locationX>1731</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>Recommend_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned Point equal 4</defaultConnectorLabel>
        <rules>
            <name>Assigned_Points_less_thank_equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommend_Decline_Consumer_Decision</targetReference>
            </connector>
            <label>Assigned Points &lt;=1</label>
        </rules>
        <rules>
            <name>Assigned_Points_2_or_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Review</targetReference>
            </connector>
            <label>Assigned Points 2 or 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Credit_Score</name>
        <label>Has Credit Score</label>
        <locationX>1915</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Credit_Score_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainRelationshipCreditScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Credit_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Guarantors</name>
        <label>Has Guarantors</label>
        <locationX>350</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Add_Star_for_Guarantor_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Guarantors_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasGuarantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Guarantor_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Best_Borrower</name>
        <label>Is Best Borrower</label>
        <locationX>1291</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Process_Borrowers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Best_Borrower_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BestBorrowerScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Best_Borrower_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommend_Decline</name>
        <label>Recommend Decline</label>
        <locationX>961</locationX>
        <locationY>1648</locationY>
        <defaultConnector>
            <targetReference>Determine_Approval_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Recommend_Decline_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Decline</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Borrower_Score_Result_1</name>
        <label>Review Score Result</label>
        <locationX>1091</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Is_Best_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Borrower_Score_Result_Exit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Borrower_Score_Result_2</name>
        <label>Review Score Result</label>
        <locationX>423</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Borrower_Score_For_Loan_With_Guarantor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Borrower_Score_Result_2_Exit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Individual_Score_Completed</name>
        <label>Review Score Result</label>
        <locationX>407</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Guarantor_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Result_Received_Individual_Account_Score_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <formulas>
        <name>Advance_Rate_LTV</name>
        <dataType>Number</dataType>
        <expression>IF({!Loan.00N6A000007veoC} = 0,
{!Loan.00N6A000007vf78}/{!Loan.00N6A000007venK},
{!Loan.00N6A000007veoC}/{!Loan.00N6A000007venK})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Description_Approved</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is approved. Review all the details here and &apos;submit for approval&apos; to continue with the auto approval process.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Decline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is declined. To continue with the adverse actions process, review all the details here and select the &apos;Adverse Actions&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Manual_Review_Required</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; could not be auto decisioned and requires a manual review. You can view all of the captured detail here.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Approval</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for approval. To continue and submit this for manual approval, review all the details here and select the &apos;Submit for manual approval&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Decline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for decline. To continue to the adverse actions process, review all the details here and select the Adverse Actions button.&quot;</expression>
    </formulas>
    <interviewLabel>LoanAutoDecision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoanAutoDecision</label>
    <loops>
        <name>Process_Borrowers</name>
        <label>Process Borrowers</label>
        <locationX>941</locationX>
        <locationY>348</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>BorrowerAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Borrower_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Borrower_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Borrowers_For_Loan_With_Guarantor</name>
        <label>Process Borrowers</label>
        <locationX>30</locationX>
        <locationY>1025</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>BorrowerAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Borrower_Score_For_Loan_With_Guarantor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Guarantors</name>
        <label>Process Guarantors</label>
        <locationX>350</locationX>
        <locationY>583</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>GuarantorAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Guarantor_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Star_for_Guarantor_Rating_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Loan_Data</name>
        <label>Load Loan Data</label>
        <locationX>353</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commercial_or_Consumer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Current_Total_Lendable_Value__c</queriedFields>
        <queriedFields>LLC_BI__Current_Gross_Lendable_Value_Collateral1__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>nRetail__Debt_To_Income_Ratio__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>ConsumerLoan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Main_Relationship_Credit_Score</name>
        <label>Lookup Main Relationship Credit Score</label>
        <locationX>1719</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Credit_Score</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MainRelationshipCreditScore</assignToReference>
            <field>LLC_BI__FICO_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_to_Approved</name>
        <label>Update Loan to Approved</label>
        <locationX>1916</locationX>
        <locationY>1249</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Is_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nRetail__Approved_Loan_Amount__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <startElementReference>Load_Loan_Data</startElementReference>
    <subflows>
        <name>Get_Borrower_Accounts</name>
        <label>Get Borrower Accounts</label>
        <locationX>740</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Process_Borrowers</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Accounts_For_Loan_With_Guarantor</name>
        <label>Get Borrower Accounts</label>
        <locationX>27</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>ClearAccountScore</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Score</name>
        <label>Get Borrower Score</label>
        <locationX>941</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>Retrieve_Borrower_Score_Result_1</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Score_For_Loan_With_Guarantor</name>
        <label>Get Borrower Score</label>
        <locationX>260</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Retrieve_Borrower_Score_Result_2</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Guarantor_Accounts</name>
        <label>Get Guarantor Accounts</label>
        <locationX>49</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Has_Guarantors</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeGuarantors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GuarantorAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasGuarantors</assignToReference>
            <name>AccountsFound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Guarantor_Score</name>
        <label>Get Guarantor Score</label>
        <locationX>493</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Retrieve_Individual_Score_Completed</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BestBorrowerScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BorrowerAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CriteriaBorrowerScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaDebtToIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaGuarantorScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaHasGuarantor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaLTV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccountScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>DTIRatio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GuarantorAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HasGuarantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainRelationshipCreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ResultManualReviewRequired</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
