src/flows/Test_nCinoScreenCreator-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>RouteScreenChoice</name>
        <dataType>String</dataType>
        <displayField>null__NotFound</displayField>
        <object>nFORCE__Screen__c</object>
    </dynamicChoiceSets>
    <interviewLabel>Test_nCinoScreenCreator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test_nCinoScreenCreator</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>RecordCreateGroup</name>
        <label>RecordCreateGroup</label>
        <locationX>399</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>GroupVar</assignRecordIdToReference>
        <connector>
            <targetReference>GroupLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__App__c</field>
            <value>
                <elementReference>GroupApp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__Is_Archived__c</field>
            <value>
                <elementReference>GroupIsArchived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__Is_Questionnaire__c</field>
            <value>
                <elementReference>IsQuestionairre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__lookupKey__c</field>
            <value>
                <elementReference>Grouplookupkey</elementReference>
            </value>
        </inputAssignments>
        <object>nFORCE__Group__c</object>
    </recordCreates>
    <recordLookups>
        <name>GroupLookup</name>
        <label>GroupLookup</label>
        <locationX>395</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRoute</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupVar</elementReference>
            </value>
        </filters>
        <object>nFORCE__Group__c</object>
        <outputReference>GroupDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateGroup</name>
        <label>CreateGroup</label>
        <locationX>401</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordCreateGroup</targetReference>
        </connector>
        <fields>
            <name>GroupName</name>
            <dataType>String</dataType>
            <fieldText>Group Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GroupApp</name>
            <dataType>String</dataType>
            <fieldText>App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GroupIsArchived</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Archived</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsQuestionairre</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Questionairre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouplookupkey</name>
            <dataType>String</dataType>
            <fieldText>lookupkey</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CreateRoute</name>
        <label>Create Route</label>
        <locationX>614</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RouteName</name>
            <dataType>String</dataType>
            <fieldText>Route Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteApp</name>
            <dataType>String</dataType>
            <fieldText>App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteIconClass</name>
            <dataType>String</dataType>
            <fieldText>Icon Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RoutelookupKey</name>
            <dataType>String</dataType>
            <fieldText>lookupKey</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteNavigation</name>
            <dataType>String</dataType>
            <fieldText>Navigation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteScreen</name>
            <choiceReferences>RouteScreenChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Screen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteSub_Navigation</name>
            <dataType>String</dataType>
            <fieldText>Sub Navigation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RouteTopbar</name>
            <dataType>String</dataType>
            <fieldText>Topbar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>399</locationX>
        <locationY>91</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateGroup</targetReference>
        </connector>
        <fields>
            <name>StartText</name>
            <fieldText>Starting for the flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Screen</startElementReference>
    <variables>
        <name>GroupDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>nFORCE__Group__c</objectType>
    </variables>
    <variables>
        <name>GroupVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupVariables</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>nFORCE__Group__c</objectType>
    </variables>
</Flow>
